certifi==2024.6.2
cffi @ file:///C:/b/abs_78eb1_vq6z/croot/cffi_1714483206096/work
charset-normalizer==3.3.2
colorama==0.4.6
filelock==3.13.1
fsspec==2024.2.0
gevent @ file:///C:/b/abs_d4j5f9iuhz/croot/gevent_1703058845204/work
greenlet @ file:///C:/b/abs_a6c75ie0bc/croot/greenlet_1702060012174/work
idna==3.7
intel-openmp==2021.4.0
Jinja2==3.1.3
llvmlite==0.43.0
MarkupSafe==2.1.5
mkl==2021.4.0
more-itertools==10.3.0
mpmath==1.3.0
networkx==3.2.1
numba==0.60.0
numpy==1.26.3
openai-whisper==20231117
pillow==10.2.0
playsound==1.3.0
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
pydub==0.25.1
regex==2024.5.15
requests==2.32.3
six @ file:///tmp/build/80754af9/six_1644875935023/work
soundfile==0.12.1
sympy==1.12
tbb==2021.11.0
tiktoken==0.7.0
torch==2.3.1+cu118
torchaudio==2.3.1+cu118
torchvision==0.18.1+cu118
tqdm==4.66.4
typing_extensions==4.9.0
urllib3==2.2.1
websocket==0.2.1
websocket-client @ file:///C:/b/abs_5dmnxxoci9/croot/websocket-client_1715878351319/work
websockets==12.0
zope.event @ file:///C:/b/abs_242bmqukje/croot/zope.event_1702999640502/work
zope.interface @ file:///C:/ci_310/zope.interface_1642113633904/work
